.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .title {
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-align: left;
  }
  
  .charities-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 26px;
  }
  
  .loader {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .no-charities {
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #818183;
  }